/* All styles for your header Components live here */
/* header {
  display: flex;
  justify-content: flex-start;
}

div.title {
  display: flex;
  width: 100%;
  border: 1px solid red;
}
h2{
    color:
} */
