/* All styles for your header Components live here */

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  border: 1px solid blue;
}
img {
  width: 100%;
  border: 1px solid green;
}
h1,
h2 {
  margin: 0 25px 10px 0;
  margin-top: 0;
}
h2 {
  display: flex;
  color: #787d78;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 5px;
  padding: 0;
}
li {
  color: #787d78;
}
header p {
  width: 60%;
  margin-top: 0;
}
.header-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid orange;
}
.header-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
